* {
    font-family: 'Circe Regular', sans-serif;
}

.pageup {
    opacity: 0;
	width: 26px ;
	height: 26px;
	position: fixed;
	bottom: 100px;
	right: 5%;
	z-index: 30;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid white;
    transition: 1s all;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/styles';
@import 'blocks/card';
@import 'blocks/calc';
@import 'blocks/portfolio';
@import 'blocks/gift';
@import 'blocks/advantages';
@import 'blocks/sizes';
@import 'blocks/process';
@import 'blocks/card2';
@import 'blocks/card3';
@import 'blocks/promo2';
@import 'blocks/feedback';
@import 'blocks/questions';
@import 'blocks/promo3';
@import 'blocks/consultation';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';
