.advantages {
    min-height: 749px;
    padding: 100px 0;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    &__item {
        width: 40%;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        position: relative;
        margin-top: 150px;
        margin-left: 200px;
        img {
        position: absolute;
        top: -112px;
        left: -140px;
        }
    }  
}    