.button {
    border-radius: 50px;
    background-image: linear-gradient(66deg, #a12ab1 0%, #c818bc 100%);
    box-shadow: 0px 15px 30px 0px rgba(170, 38, 183, 0.39);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    border: 2px solid #c51abb;
}
.button-w {
    border-radius: 50px;
    transition: background 0.2s;
    overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    color: #c51abb;
    border: 2px solid #c51abb;
    padding: 13px;
    // margin-right: 20px;
}