.calc {
    min-height: 983px;
    padding: 80px 0 40px 0;
    &__name {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
    }
    &__calc-name {
        font-size: 44px;
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        margin-left: 26px;
        margin-right: -26px;
        text-align: justify;
    }
    &__file-upload {
        position: relative;
        overflow: hidden;
        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            height: 40px;
        }
    }
    &__file-upload-text {
        font-size: 15px;
        font-weight: 300;
        display: none;
    }
    &__file-upload-btn {
        width: 350px;
        height: 60px;
        border: dashed;
        &::before {
            content: '';
            background: url('/src/img/camera.svg');
            width: 17px;
            height: 17px;
            display: inline-block;
            position: relative;
            top: 3px;
            right: 4px;
            background-size: 100%;
        }
    }
    &__form-name {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    &__selection {
        display: block;
        font-weight: 700;
        font-size: 20px;
        opacity: 0.5;
        appearance: none;
        border: none;
        margin-left: 30px;
        padding: 20px 0;
        &:nth-child(3) {
            margin-top: 24px;
        }
        &:focus {
            outline:none;
        }
    }
    &__promocode {
        border: none;
        display: block;
        font-weight: 700;
        font-size: 20px;
        opacity: 0.5;
        appearance: none;
        margin-left: 30px;
        padding: 20px 0;
    }
    &__form-text {
        background-color: #f7e7e6;
        width: 350px;
        height: 130px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        padding-top: 30px;
    }
    &__order-btn {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
        width: 263px;
        height: 55px;
    }
}