.card {
    min-height: 453px;
    &__wrap {
      background-color: #f7e7e6;
      padding-top: 70px;
    }
    &__text {
      font-size: 33px;  
      font-weight: 700;
      color: black;
      margin-top: 30px;
    }
    &__subtext {
      font-size: 20px;  
      font-weight: 300;
      color: black;
      margin-top: 50px;
    }
    &__more-btn {
        margin-top: 90px;
        width: 200px;
        height: 60px;
    }
}