.consultation {
    min-height: 606px;
    padding: 100px 0;
    background-color: #eed4d2;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        margin-bottom: 75px;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    &__form-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__form-input {
        width: 30%;
        margin-bottom: 30px;
        padding: 15px 40px;
        border-radius: 50px;
        border: none;
        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: black;
        }
    }
    &__form-input-big {
        width: 100%;
        margin-bottom: 30px;
        padding: 15px 40px;
        border-radius: 50px;
        border: none;
        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: black;
        }
    }
    &__btn {
        width: 207px;
        height: 56px;
        display: block;
        margin: 0 auto;
    }
}