.feedback {
    min-height: 580px;
    padding: 90px 0;
    background-color: #f7e7e6;
    &__slider {
        position: relative;
    }
    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        z-index: 1;
        background-color: transparent;
        img {
            width: 30px;
            height: 30px;
        }
        &_prev {
            left: -19px;
        }
        &_next {
            right: -19px;
        }
    }
    &__block {
        position: relative;
    }
    &__oreder-btn {
        position: absolute;
        width: 170px;
        height: 60px;
        bottom: -24px;
        left: 130px;
        &::before {
            content: '';
            background: url('/src/img/heart.png');
            width: 17px;
            height: 17px;
            display: inline-block;
            position: relative;
            top: 3px;
            right: 4px;
            margin-right: 4px;
            background-size: 100%;
        }
    }
    &__header {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-top: 40px;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin: 20px 0;
    }
    &__name {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
}