.footer {
    max-height: 237px;
    padding: 40px 0 30px 0;
    &__phone {
        font-size: 26px;
        text-align: right;
        font-weight: 700;
        a {
            text-decoration: none;
            color: black;
        }
    }
    &__messenger {
        font-size: 18px;
        text-align: right;
        font-weight: 500;
        margin: 10px 0;
        a {
            text-decoration: none;
            color: black;
        }
    } 
    &__time {
        font-size: 14px;
        text-align: right;
        font-weight: 500;
        color: black;
    }  
    &__email {
        text-align: right;
        font-size: 15px;
        font-weight: 500;
        color: black;
        a {
            color: black;
        }
    } 
    &__table {
        th {
            font-size: 16px;
            text-align: left;
            font-weight: 700;
            padding: 5px 5px 25px 5px;
            color: black; 
        }
        td {
            font-size: 13px;
            text-align: left;
            font-weight: 300;
            padding: 5px 60px 5px 5px;
            color: black; 
        }
    }
}