.gifts {
    min-height: 536px;
    background: url('/src/img/gift-bg.jpg') center (center/cover) no-repeat;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        margin-top: 100px;
    }
    &__header {
        font-size: 34px;
        font-weight: 700;
        color: black;
        margin-top: 25px;
    }
    &__descr {
        font-size: 18px;
        font-weight: 300;
        margin: 50px 0 80px 0;
    }
    &__features {
        display: flex;
        justify-content: space-around;
    }
    &__features-item {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        position: relative;
        img {
            position: absolute;
            top: -38px;
            left: -57px;
        }
    }
}    