.header {
    min-height: 61px;
    position: relative;
    &__order-btn{
        width: 147px;
        height: 53px;
        margin-top: 4px;
        font-size: 15px;
        img {
            width: 15px;
            height: 15px;
            margin-left: 6px;
        }
    }
    .header-menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 0;
        padding: 20px 30px 0 0;
        font-size: 16px;
        font-weight: 300;
        &__item {
            padding-left: 0px;
            &:hover .header-menu__list {
                display: block;
            }
        }
        &__link {
            text-decoration: none; 
            color: black; 
            padding-bottom: 12px; 
            &:after {
                content: '';
                background-image: url('/src/img/down-arrow.svg');
                margin-left: 5px;
                width: 15px;
                height: 10px;
                background-size: 100%;
                display: inline-block;
            }  
        }
        &__list {
            display: none;
            background-color:#fff;
            padding-left: 0px; 
            position: absolute;
            z-index: 1;
        }
        &__list-item {
            display: block;
            list-style: none;
            padding: 15px;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 10px;
            &:hover {
                background-color: #eed4d2;
            }
            a {
                text-decoration: none; 
                color: black;  
            }
        }
    }
    .burger-menu {
        max-width: 170px;
        height: 61px;
        margin-right: -16px;
        background-color: #c51abb;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
        text-align: center;
        img {
            width: 18px;
            height: 18px;
            margin-right: 8px;
            position: relative;
            top: -2px;
        }
        &__list {
            display: block;
            background-color: #fff;
            z-index: 10;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px;
        }
        &__item {
            padding: 14px;
            font-size: 15px;
            font-weight: 300;
            &:hover {
                background-color: #eed4d2;
            }
        }
        &__link {
            color: black;
            text-decoration: none;
            &:hover{
                color:inherit;
            }
        }
    }
}

