.gift {   
  position: fixed;
  z-index: 19;
  display: inline;
  top: 64px;
  right: 32px;
  cursor: pointer;
}
.main {
    min-height: 790px;
    background-color: #f7e7e6;
    padding-top: 40px;
    &__logo {
        font-size: 25px;
        font-weight: 700;
        color: #c51abb;
        text-transform: uppercase;
    }
    &__logo-text {
        font-size: 15px;
        font-weight: 300;
    }
    &__file-upload {
        position: relative;
        overflow: hidden;
        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            height: 40px;
        }
    }
    &__file-upload-btn {
        width: 250px;
        height: 60px;
        float: right;
        &::before {
            content: '';
            background: url('/src/img/camera.svg');
            width: 17px;
            height: 17px;
            display: inline-block;
            position: relative;
            top: 3px;
            right: 4px;
            background-size: 100%;
        }
    }
    &__file-upload-text {
        font-size: 15px;
        font-weight: 300;
        display: none;
    }
    &__email {
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        a {
            color: black;
        }
    }
    &__phone {
        font-size: 25px;
        text-align: right;
        font-weight: 500;
        margin-top: 10px;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
        }
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            margin-bottom: 13px;
        }
    }
    &__messenger {
        font-size: 18px;
        text-align: right;
        font-weight: 300;
        margin-top: 10px;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
        }
        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            margin-bottom: 13px;
        }
    }
    &__header-text {
        font-size: 23px;
        text-align: center;
        font-weight: 500;
        font-style: italic;
        margin-top: 70px;
    }
    &__header {
        font-size: 54px;
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    &__adv {
        font-size: 15px;
        font-weight: 300;
        position: relative;
        margin-left: 35px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 10px; 
            position: absolute;
            left: -35px;
            top: 8px;
        }
    }
    &__send-text {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: #c51abb;
        margin: 70px 0 30px 0;
    }
    &__order-btn {
        position: relative;
        width: 210px;
        height: 60px;
        font-size: 17px;
        display: block;
        margin: 0 auto;
        img {
            position: absolute;
            top: -10px;
            right: -70px;
        }
    }
}

    