@media (max-width: 1200px) {
    .header {
        &__order-btn {
            width: 135px;
            height: 48px;
            font-size: 14px;
        }    
        .header-menu {
            font-size: 14px;
        }
        .burger-menu {
            max-width: 135px;
            font-size: 13px;
        }
    }
    .gift {
        display: none;
    }
    .main {
        padding-top: 30px;
        .main {
            &__file-upload-btn {
                width: 210px;
                height: 50px;
            }
            &__email {
                font-size: 14px;
            }
            &__phone {
                font-size: 24px;
                margin-right: 0px;
                img {
                    width: 25px;
                    height: 25px;
                    margin-bottom: 5px;
                }
            }
            &__messenger {
                font-size: 17px;
                margin-right: 0px;
                img {
                    width: 22px;
                    height: 22px;
                    margin-bottom: 5px;
                }
            }
            &__header-text {
                margin-top: 90px;
            }
            &__header {
                font-size: 45px;
                margin-bottom: 50px;
            }
            &__send-text {
                margin: 40px 0 60px 0;
            }
            &__order-btn {
                width: 200px;
                height: 55px;
            }
        }
    
    }
    .promo {
        &__palette {
            width: 342px;
            height: 298px;
        }
    }
    .styles {
        .xl-hidden {
            display: none;
        }
        &__block {
            max-width: 220px;
            min-height: 340px;
            padding: 25px;
            margin-bottom: 20px;
        }
    }
    .card {
        &__wrap {
            padding-top: 50px;
        }
        &__text {
            font-size: 30px;  
        }
        &__subtext {
            font-size: 20px;  
        }
        &__more-btn {
            width: 170px;
            height: 50px;
            margin-top: 20px;
        }
        &__pic {
            max-width: 300px;
        }
    }
    .calc {
        padding-top: 0;
        &__file-upload-btn {
            width: 280px;
            height: 55px;
        }
        &__form-text {
            width: 280px;
        }
        &__descr {
            margin-left: 26px;
            margin-right: -76px;
            text-align: justify;
        }
    }
    .portfolio {
        min-height: 840px;
        padding-top: 0;
        &__menu {
            margin: 40px 0;
        }
        &__item {
            padding: 15px 10px;
        }
        &__header {
            margin-top: 15px;
            font-size: 45px;
        }
    }
    .promo-2 {
        padding-top: 0px;
    }
    .questions {
        &__pic-1 {
            top: -300px;
            max-width: 40%;
        }
    }
    .footer {
        &__table {
            th {
                padding-bottom: 15px;
            }
            td {
                padding-right: 30px;
            }
        }
    }
}
@media (max-width: 991px) {
    .header {
        .sm-hidden {
            display: none;
        }
        .burger-menu {
            img {
                width: 48px;
                height: 28px;
                margin-right: 0px;
            }    
            span {
                display: none;
            }
        }
    }
    .main {
        .main {
            &__header {
                margin-top: 10px;
                margin-bottom: 40px;
            }
            &__adv {
                img {
                    top: 2px;
                }
            }
            &__send-text {
                margin: 20px;
            }
            &__order-btn {
                margin-bottom: 20px;
            }
        }
    }
    .promo {
        padding: 0px;
        &__palette {
            display: none;
        }
        &__pic {
            position: relative;
            width: 100%;
            left: -50px;
            top: 20px;
        }
        &__subtext {
            margin-top: 5px;
            text-align: center;
        }
        &__text {
            margin-top: 30px;
            font-size: 45px;
            text-align: center;
        }
        &__order-btn {
            display: block;
            margin: 40px auto;
        }
    }
    .styles {
        &__header {
            margin-bottom: 50px;
            font-size: 45px;
        }
        &__block {
            max-width: 170px;
            height: 140px;
            padding: 25px;
            margin-bottom: 0px;
        }
        &__show-more-btn {
            margin-top: 60px;
            margin-bottom: 30px;
        }    
    }
    .card {
        &__wrap {
            padding-top: 40px;
        }
        &__text {
            font-size: 25px;  
        }
        &__subtext {
            font-size: 18px;  
            margin-top: 30px;
        }
        &__pic {
            max-width: 280px;
        }
    }
    .calc {
        .sm-hidden {
            display: none;
        }
        &__file-upload-btn {
            width: 100%;
        }
        &__form-text {
            width: 100%;
        }
    }
    .portfolio {
        &__menu {
            justify-content: center;
        }
        &__item {
            margin: 0px 10px;
        }
        &__block {
            width: 40%;
            padding: 5px 5px;
        }
    }
    .sizes {
        &__header {
            font-size: 42px;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__hit {
            width: 80%;
            margin-left: 24px;
        }
    }
    .promo-2 {
        &__pic {
            position: relative;
            width: 100%;
            left: -50px;
            top: 20px;
        }
        &__subtext {
            margin-top: 0px;
            text-align: center;
        }
        &__text {
            text-align: center;
        }
        &__order-btn {
            display: block;
            margin: 20px auto;
        }   
    }
    .feedback {
        &__header {
            font-size: 20px;
            margin-top: 0px;
        }
    }
    .questions {
        &__pic-2 {
            display: none;
        }
        
    }
    .footer {
        .sm-hidden {
            display: none;
        }
        &__wrap {
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (max-width: 767px) {
    .header {
        .sm-hidden {
            display: none;
        }
    }
    .main {
        .sm-hidden {
            display: none;
        }
        .main {
            &__logo {
                font-size: 20px;
                font-weight: 500;
            }
            &__logo-text {
                font-size: 12px;
                font-weight: 300;
            }
            &__phone {
                font-size: 18px;
                margin: 0 0 0 0;
                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 2px;
                }
            }
            &__messenger {
                font-size: 15px;
                margin: 0 0 0 0;
                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 2px;
                }
            }
            &__slider-item {
                img {
                    width: 100%;
                }
            }
            &__adv {
                padding-left: 15px;
                margin-bottom: 0;
                margin-left: 10px;
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px; 
                    position: absolute;
                    left: -15px;
                    top: 1px;
                }
            }
            .sm-hidden {
                display: none;
            }
        }
    }
    .styles {
        &__header {
            font-size: 40px;
        }
        &__block {
           max-width: 540px;
           height: auto;
           margin: 0 auto;
           padding: 30px;
           margin-bottom: 30px;
        }
    }
    .card {
        margin-top: 40px;
        &__pic {
            display: block;
            margin: 0 auto;
        }
        &__text {
            text-align: center;
        }
        &__subtext {
            text-align: center;
        }
        &__more-btn {
            display: block;
            margin: 20px auto;
        }
    }
    .calc {
        padding-top: 60px;
    }
    .portfolio {
        &__block {
            width: 60%;
        }
    }
    .advantages {
        &__item {
            margin-left: 150px;
            img {
                top: -90px;
                left: -135px;
            }
        }
    }
    .sizes {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__old-price {
            bottom: 90px;
        }
        &__new-price {
            bottom: 60px;
        }
        &__hit {
            margin-left: 30px;
            margin-bottom: -12px;
        }
    }
    .process {
        &__header {
            margin-bottom: 50px;
        }
        &__block {
            max-height: 250px;
        }
    }
    .promo-2 {
        padding-top: 50px;
        &__block {
            margin-left: 0px;
        }
    }
    .feedback {
        &__header {
            margin-top: 40px;
        }
    }
    .questions {
        padding: 0;
        &__pic-1 {
            display: none;
        }
    }
    .promo-3 {
        padding-bottom: 0;
    }
    .consultation {
        padding-top: 50px;
        &__form-input {
            width: 100%;
        }
    }
    .footer {
        &__wrap {
            display: block;
        }  
        &__phone {
            text-align: center;
        }  
        &__messenger {
            text-align: center;
        }
        &__email {
            text-align: center;
        }
        &__time {
            text-align: center;
        }
    }
}
@media (max-width: 575px) {
    .main {
        .main {
            &__logo {
                font-size: 17px;
            }
            &__logo-text {
                font-size: 12px;
            }
            &__phone {
                font-size: 16px;
                margin: 0 0 0 0;
                img {
                    width: 12px;
                    height: 12px;
                    margin-right: 1px;
                }
            }
            &__messenger {
                font-size: 13px;
                margin: 0 0 0 0;
                img {
                    width: 12px;
                    height: 12px;
                    margin-right: 1px;
                }
            }
            &__order-btn {
                img {
                    top: -15px;
                    right: -50px;
                }
            }
        }    
    }
    .gifts {
        &__features {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__features-item {
            margin-left: 30px;
            font-size: 18px;
            font-weight: 700;
            text-align: justify;
            position: relative;
            img {
                position: static;
            }
        }
        &__descr {
            margin: 20px 0;
        }
    }
}


