.popup {
    &__consultation {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(178, 80, 188, 0.8);
        z-index: 20;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        min-height: 370px;
        background-color: #f2f2f2;
        padding: 30px 60px 40px 60px;
    }
    &__close {
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 51px;
        line-height: 21px;
        color: white;
        cursor: pointer;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__form-input {
        width: 100%;
        margin-top: 30px;
        padding: 15px 40px;
        border-radius: 50px;
        border: none;
        &::placeholder {
            font-size: 14px;
            font-weight: 500;
            color: black;
            text-align: center;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
        height: 55px;
    }
    &__gift {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(178, 80, 188, 0.8);
        z-index: 20;
    }
    &__subtitle-2 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin: 10px 0;
    }
    &__pic {
        display: block;
        margin: 0 auto;
    }
    &__gift-text {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-top: 20px;
    }
    &__design {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(178, 80, 188, 0.8);
        z-index: 20;
    }
    &__form-name {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
    }
    &__file-upload {
        position: relative;
        overflow: hidden;
        input {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            height: 40px;
        }
    }
    &__file-upload-text {
        font-size: 15px;
        font-weight: 300;
        display: none;
    }
    &__file-upload-btn {
        width: 100%;
        height: 60px;
        border: dashed;
        &::before {
            content: '';
            background: url('/src/img/camera.svg');
            width: 17px;
            height: 17px;
            display: inline-block;
            position: relative;
            top: 3px;
            right: 4px;
            background-size: 100%;
        }
    }
}   
