.portfolio {
    min-height: 880px;
    padding-top: 80px;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }
    &__menu {
        margin: 50px 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        font-size: 21px;
        font-weight: 300;
        cursor: pointer;
    }
    &__item {
        text-align: center;
        padding: 15px 0;
        &_active {
            min-width: 160px;
            height: 60px;
            border: 1px solid #c51abb;
            color: #c51abb;
            border-radius: 50px;
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__block {
        width: 20%;
        padding: 5px 5px;
    }
    &__img {
        width: 100%;
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
    &__hide-t {
        display: none;
        margin: 150px 0;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
    }
}