.promo-2 {
    min-height: 645px;
    padding: 90px 0 100px 0;
    position: relative;
    &__block {
        margin-left: 100px;
    }
    &__subtext {
        margin-top: 50px;
        font-size: 23px;
        font-weight: 300;
    }
    &__text {
        margin-top: 45px;
        font-size: 43px;
        font-weight: 700;
    }
    &__order-btn {
        margin-top: 50px;
        width: 190px;
        height: 55px;
    }
    &__pic {
        max-width: 100%;
        position: absolute;
        right: 3px;
        bottom: 50px;
    }
}