.promo {
    min-height: 794px;
    position: relative;
    padding: 100px 0;
    &__pic {
        position: absolute;
        top: 100px;
        left: 45px;
    }
    &__subtext {
        margin-top: 15px;
        font-size: 25px;
        font-weight: 300;
    }
    &__text {
        margin-top: 60px;
        font-size: 50px;
        font-weight: 700;
    }
    &__order-btn {
        margin-top: 80px;
        width: 260px;
        height: 55px;
    }
    &__palette {
        position: absolute;
        right: 0;
        top: 570px;
        width: 404px;
        height: 352px;
    }
}