.process {
    min-height: 981px;
    padding-top: 90px;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        margin-bottom: 90px;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    &__block {
        height: 350px;
        font-size: 17px;
        font-weight: 300;
    }
    &__img {
        width: 180px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    &__descr {
        text-align: center;
        margin-top: 20px;
    }
}