.questions {
    min-height: 662px;
    padding: 100px 0 80px 0;
    position: relative;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        margin-bottom: 90px;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    &__pic-1 {
        position: absolute;
        left: 0;
        top: -260px;
    }
    &__pic-2 {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
    &__accordion-header {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin: 20px 0 40px 0;
        span {
            border-bottom: 2px dotted #333;
        }
    }
    &__accordion-text {
        background-color: #f7e7e6;;
        margin-top: 10px;
        padding: 30px 40px;
        text-align: left;
        font-size: 14px;
        font-weight: 300;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -30px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid #f7e7e6;
        }
    }
}
//for JS
.accordion-block {
    display: none;
}

.trigger-accordion.active+.accordion-block {
    display: block;
}
