.sizes {
    min-height: 823px;
    padding: 90px 0 200px 0;
    background: url('/src/img/sizes-bg.jpg') center (center/cover) no-repeat;
    &__subheader {
        font-size: 23px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 17px;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }
    &__wrapper {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__block {
        position: relative;
        img {
            width: 100%;
        }
    }
    &__size {
        position: absolute;
        top: 30px;
        text-align: center;
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        color: #86b7d2;;
    }
    &__old-price {
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        bottom: 80px;
        text-decoration: line-through;
        text-align: center;
        width: 100%;
    }
    &__new-price {
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        bottom: 50px;
        text-align: center;
        width: 100%;
    }
    &__hit {
        width: 60%;
        min-height: 50px;
        margin-left: 60px;
        margin-bottom: -40px;
        background-color: #f99300;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding-top: 13px;
    }
}