.styles {
    min-height: 752px;
    position: relative;
    &__subheader {
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
    &__header {
        margin-top: 30px;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
    }
    &__block {
        background-color: #f7e7e6;
        max-width: 262px;
        height: 380px;
        padding: 30px;
        margin-bottom: 30px;
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }
        }
        h4 {
            font-size: 22px;
            font-weight: 500;
            margin: 20px 0;
            text-align: center;
        }
    }
    &__show-more-btn {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 60px;
        margin-top: 80px;
        margin-bottom: 60px;
        &::before {
            content: '';
            background: url('/src/img/reload.svg');
            width: 17px;
            height: 17px;
            display: inline-block;
            position: relative;
            top: 3px;
            right: 4px;
            background-size: 100%;
        }        
    }
    &__paints {
        display: none;
        position: absolute;
        left: 0;
        bottom: -310px;
        z-index: 1;
    }
    .xl-hidden {
        display: none;
    }
    .lg-hidden {
        display: none;
    }
    .md-hidden {
        display: none;
    }
    .sm-hidden {
        display: none;
    }
}
