@font-face {
    font-family: 'Circe Regular';
    src: local('Circe Light'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: local('Circe Regular'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: local('Circe Bold'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: local('Circe Extra Bold'),
    url('../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}